[Desktop Entry]
Name=systemclient
GenericName=systemclient
Type=Application
Exec=sudo -H systemclient
TryExec=/usr/bin/systemclient
Icon=/opt/philleconnect/logo.png
